/* Selector universal */
*{
    margin:  0;
    padding: 0;
}
/* Selector de etiqueta */
body {
    background-color: rgb(107, 83, 243);
    color:rgb(218, 218, 111)
}
/* Selector de clase */
.btn{
    background-color: blueviolet;
    padding: 20px;
}
/* Selector ID */
#social.icons{
    background-color: rgb(126, 28, 28);
}
/*  Selectores avanzados */
#social-icons .btn{
    border-radius: 18px;
}
/* Pseudoclase */
.btn :hover{
    background-color: rgb(158, 95, 218);
    color: #fff;
}
